/* Common style start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --themeRed: #e43a47;
    --gray: #efefef;
}

*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
   }
  

html{
    scroll-behavior: smooth;
}


body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.736), rgba(0, 0, 0, 0.5)), url(/team/bulubala.png);
    background-attachment: fixed; 
    
}

button, body{
    font-family: "Helvetica", sans-serif;
}

p {
    font-size: 14px;
    line-height: 26px;
}

.fullContainer {
    width: 100%;
}

.container{
    width: 1140px;
    margin: auto;
}

.sectionTitle{
    color: #fff;
    width: 300px;
    border-bottom: 3px solid #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}

.sectionTitle::after{
    display: inline-block;
    content: "";
    height: 15px;
    width: 15px;
    background-color: #000;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(75% - 7px);
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid #fff;
}

section {
    padding: 100px 0;
    position: relative;
}

/* Common style end */

/* Home style start */

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container .logo{
  
    padding: 15px 0;
    height: 45px;
}

header .container .logo img{
    height: 100%;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
}

header nav ul li  a{
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
}

header nav ul li a:hover {
    background-color: var(--themeRed);
}

.banner {
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.192)), url(./../images/banner.jpg);

    background-size: cover;
    background-attachment: fixed;
}

.banner h1{
    margin-top: 230px;
    display: inline-block;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 0 0 2px #000;
    width: 50%;
    line-height: 4.2rem;
    font-weight: 100;
}

.banner h1 span {
    background-color: var(--themeRed);
    display:block;
    line-height: 3.5 rem;
    padding: 0 15px;
 
    font-weight: 600;
    border-radius: 5px;
    margin-right:  242px; /* Tăng giá trị này để giảm phần màu đỏ */
}

.banner p {
    color: #fff;
    width: 40%;
    text-shadow: 0 0 2px #000;
    margin-top: 10px;
    font-size: 17px;

}

.banner button{
    background-color: var(--themeRed);
    border: 0;
    outline: none;
    color: #fff;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 13px;
    border-radius: 3px;
    font-weight: 600;
}

/* Home style end */

/* Introduce Section Start */
#introduceSection {
    padding: 60px 0;
    border-bottom: 1px solid rgba(250, 250, 250, 0.15);
}

#introduceSection .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#introduceSection p {
    font-size: 16px;
    line-height: 28px;
    color: #555;
    margin-bottom: 40px;
}

#introduceSection .introduceContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#introduceSection .introduceText {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#introduceSection .introduceText h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    color: var(--themeRed);
}

#introduceSection .introduceText p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 24px;
    color: #444;
}

#introduceSection .introduceMedia {
    flex: 1;
    width: 300px;
    text-align: center;
}

#introduceSection .introduceMedia img {
    max-width: 75%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#introduceSection .introduceMedia video {
    display: block;
    margin: 0 auto;
}

/* Media Queries */
@media (max-width: 768px) {
    #introduceSection .introduceContent {
        flex-direction: column;
    }

    #introduceSection .introduceMedia {
        margin-top: 20px;
    }

    .introduceText, .introduceMedia {
        width: 100%; /* Full width on smaller screens */
    }
}
/* Introduce Section End */


/* PinkStorm Section Start */

#pinkStormSection {
    padding: 60px 0;
    border-bottom: 1px solid rgba(250, 250, 250, 0.15);
}

#pinkStormSection .container{
    color: #fff
}

/* PinkStorm Section End*/


/* About Section Start */
#aboutSection {
    padding: 60px 0;
    border-bottom: 1px solid rgba(250, 250, 250, 0.15);
}
#aboutSection .container{
    color: #fff;
}

#aboutSection .container .sectionTitle p{
    color: #fff;
}

#aboutSection .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
    height: auto;
}

#aboutSection .cards > div {
    width: 350px;
    background-color: var(--gray);
    padding: 0;
    color: #444;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #ccc;
    transition: 0.4s;
    overflow: hidden;
}

#aboutSection .cards > div:hover {
    width: 400px;
    margin-top: -20px;
    height: auto;
}

#aboutSection .newsImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#aboutSection .content {
    padding: 15px;
}

#aboutSection .cards > div .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
}

#aboutSection .cards > div p {
    font-size: 14px;
    margin-top: 15px;
}

#aboutSection .cards > div button {
    border: 1px solid var(--themeRed);
    outline: none;
    padding: 7px 15px;
    margin-top: 15px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

#aboutSection .cards > div:hover button {
    background-color: var(--themeRed);
    color: #fff;
}

.moreSection {
    text-align: center;
    margin-top: 20px;
}

.moreLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--themeRed);
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.3s;
}

.moreLink:hover {
    background-color: darken(var(--themeRed), 50%);
}

/* About Section End */



/* Programs Section Start */

.programs .boxContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

.programs .boxContainer .box{
    background-color: #fff;
    text-align: center;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #c5c5c5;
    position: relative;
    margin-bottom: 15px;
}

.programs .boxContainer .box .cardImage{
    width: 200px;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.programs .boxContainer .box .cardImage::after {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    transition: 0.4s;
}

.programs .boxContainer .box:nth-child(1) .cardImage1{
    width: 100%;
    height: 220px;
    background-image: url('/team/phamthaoanh.jpg');
    background-position: bottom center;
    background-size: 350px;
}

.programs .boxContainer .box:nth-child(1) .cardImage2{
    width: 100%;
    height: 220px;
    background-image: url('/team/nguyenthihuyentrang.jpg');
    background-position: bottom center;
    background-size: 350px;
}.programs .boxContainer .box:nth-child(1) .cardImage3{
    width: 100%;
    height: 220px;
    background-image: url('/team/buidieulinh.jpg');
    background-position: bottom center;
    background-size: 350px;
}.programs .boxContainer .box:nth-child(1) .cardImage4{
    width: 100%;
    height: 220px;
    background-image: url('/team/buitranthaoly.jpg');
    background-position: bottom center;
    background-size: 350px;
}.programs .boxContainer .box:nth-child(1) .cardImage5{
    width: 100%;
    height: 220px;
    background-image: url('/team/nguyenthivananh.jpg');
    background-position: bottom center;
    background-size: 350px;
}.programs .boxContainer .box:nth-child(1) .cardImage6{
    width: 100%;
    height: 220px;
    background-image: url('/team/nguyenvuquynhanh.jpg');
    background-position: bottom center;
    background-size: 350px;
}

.programs .boxContainer .box:hover .cardImage::after{
    top: 100%;
}

.programs .boxContainer .box .programTitle{
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600;
    color: #444;
}

.programs .boxContainer .box .donationCount{
    font-size: 13px;
    font-weight: 600;
    color: #444;
    margin-top: 10px;
}


.programs .boxContainer .box .donationCount span{
    color: var(--themeRed);
}

.programs .boxContainer .box button{
    position: absolute;
    left: 50%;
    background-color: var(--themeRed);
    color: #fff;
    transform: translate(-50%);
    bottom: -15px;
    border-radius: 60px;
    padding: 7px 15px;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* Programs Section End */

/* Education section start */
.education{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.education .videoPlayer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.education .sectionTitle{
    color: #fff;
    text-shadow: 0 0 4px #000;
}

.education .educationContainer {
    position: absolute;
    background-color: #00000096;
    width: 600px;
    top: 35vh;
    color: #fff;
    text-shadow: 0 0 3px #000;
    padding: 30px;
}

.education .educationContainer h3{
    font-size: 35px;
    font-weight: 300;
}

.education .educationContainer p{
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0 30px;
}

.education .educationContainer button{
    background-color: var(--themeRed);
    border: 0;
    color: #fff;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}
/* Education section  */

/* Gallery section start*/

.gallery .galleryContainer {
    column-count: 4;
    column-gap: 20px;
}

.gallery .galleryContainer .item {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.gallery .galleryContainer img{
    width: 100%;
    display: block;
    transition: 0.4s;
}

.gallery .galleryContainer .title{
    position: absolute;
    background-color: var(--gray);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    opacity: 0;
    z-index: 1;
    transform: 0.4s;
}

.gallery .galleryContainer .item:hover .title{
    opacity: 1;
}

.gallery .galleryContainer .item:hover img{
    transform: scale(1.2);
}
/* Gallery section end*/

/* Join section start */

.join{
    background-image: url(../images/pattern.jpg);
    color: #fff;
}

.join .joinTitle{
    font-size: 40px;
    font-weight: 100;
}

.join .joinTitle span{
    font-weight: 800;
}

.join button{
    padding: 7px 15px;
    margin-top: 20px;
    border: 0;
    outline: none;
    font-weight: 600;
    font-size: 16px;
}

.join button.joinNow{
    margin-right: 10px;
    background-color: #424242;
    color: #fff;
}

.join button.adoptBtn{
    background-color: var(--gray);
}
/* Join section end */


/* Footer start from here */

footer{
    height: 300px;
    background-color: #181818;
    color: #7f7f7f;
    padding: 50px 0;
    font-size: 14px;
    bottom: 0;
}